
@{
    ViewBag.Title = "GetCustomerDetails";
}

<h2>Get Customer Details Based on OrderID</h2>


<h3>Customer ID: @Model.CustomerID</h3>
<h3>Company Name: @Model.CompanyName</h3>
<h3>Contact Name: @Model.ContactName</h3>
<h3>Contact Title : @Model.ContactTitle</h3>
<h3>Address : @Model.Address</h3>
<h3>City : @Model.City</h3>
<h3>Country : @Model.Country</h3>
<h3>Phone Number : @Model.Phone</h3>
